  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body,
html {
  background: rgb(2,0,36);
    background: linear-gradient(106deg, rgba(2,0,36,1) 0%, rgba(29,46,192,1) 57%, rgba(31,31,203,1) 61%, rgba(0,212,255,1) 100%);
 
  color: #fff;
}

.ss-container{
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  
}

#sales{
  font-size: 5rem;
  padding: 4rem 1rem;
}