.ntf-btn {
    height: 45px;
    width: 45px;
    background: rgba(230, 111, 82, 0.712);
    border: 1px solid #816bff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .ntf-btn img {
    width: 19px;
  }