header{
  background-image: url(../../assets/background-azul.jpg);
    background-color: rgba(0, 0, 0, 0.178);
    height: 22rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.ss-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .ss-logo-container img{
    height: 17rem;
    width: auto;
    
  }
  .ss-logo-container h1 {
    margin-top: 2rem;
    font-size: 3rem;
  }